<!DOCTYPE html>
<html>
  <head>
    <title>Running Route Tracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag :application, defer: true %>
    <%= yield :head %>
  </head>

  <body>
    <header>
      <h1>Running Route Tracker</h1>
    </header>

    <%= yield %>
  </body>
</html>
